.cart {
  background-color: #292929;
  margin: 0px 30px;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  color: white;
  position: sticky;
  top: 110px;
}

.cart__item > h2 {
  font-size: 25px;
}

.cart__item,
.cart__total {
  width: 220px;
  padding: 10px 10px 15px 10px;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}

.cart__total > h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.cart__button {
  text-align: center;
}

.cart__button > button {
  margin: 5px;
  padding: 5px;
  width: 80px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  font-size: 15px;
  font-family: "SuncheonB";
}

.cart__button button:hover {
  background-color: var(--main-color);
}

.cart__list > li {
  display: flex;
  margin-top: 10px;
}

.cart__list > li > span:nth-child(1) {
  flex: 3;
}

.cart__list > li > span:nth-child(3) {
  flex: 2;
}

.cart__list > li > input {
  flex: 0.5;
  width: 20px;
  margin-right: 15px;
}

.cart__list > li > button {
  flex: 0.5;
  border: none;
  background-color: transparent;
}
